body{
    width: 100%;
    padding: 0;
    height: auto;
    overflow: hidden;
    text-align: center;
}
h2{
    padding: 5px;
    text-align: center;
    margin: 2px;
}.textarea{
    resize: none;
    margin: 5px;
}